@import '../../../App.scss';

.filtersmain{
    display: flex;
    justify-content: space-between;
    padding: 100px 0 50px;
    @media screen and (max-width: 576px) {
        padding: 20px 0;
        display: none;
    }
}
.filtersleft{
    display: flex;
    @media screen and (max-width: 576px) {
        display: none;
    }
}
.sort{
    background-color: #fff;
    color: $dark-blue;
    border-radius: 5px;
    border: 1px solid $dark-blue;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    padding: 20px;
    text-transform: capitalize;
}
.mobile-grey{
    @media screen and (max-width: 576px) {
        background-color: #f2f6f4;
    }
}