@import '../../App.scss';

.cart-item-main{
    background-color: #fff;
    box-shadow: 0px 0px 9px 3px rgb(0 0 0 / 2%);
    padding: 30px 25px;
    display: flex;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
}

.cart-item-details{
    padding: 0 40px 0 60px;
    width: 100%;
    p{
        font-size: 16px;
        color: $light-black;
        text-transform: capitalize;
    }

}
.cart-item-price{
    border-top: 1px dotted #CECECE;
    border-bottom: 1px dotted #CECECE;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    h2{
        font-size: 16px;
        color: $light-black;
    }
    h3{
        font-size: 16px;
        color: $light-black;
        font-weight: 700;
    }
}

.cart-item-remove{
    font-size: 18px;
    color: $dark-blue;
    font-weight: 500;
    cursor: pointer;
}


// Cart Items stying
.cart-heading{
    font-size: 30px;
    color: $light-black;
    font-weight: 700;
    margin-bottom: 40px;
}

.cart-details-fluid{
    background-color: #F9FAFB;
    padding: 100px 0;
    @media screen and (max-width: 992px) {
        padding: 30px 0;
      }
    @media screen and (max-width: 1400px) {
        padding: 50px 0;
      }
    @media screen and (max-width: 1700px) {
        padding: 70px 0;
      }
}


// Bill Details stying
.bill-details-box{
    background-color: #fff;
    padding: 30px;
    font-size: 20px;
}
.total-price, .apply-coupen, .final-price, .membership-discount, .after-discount, .payable{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: $light-black;
    margin-bottom: 30px;
    font-weight: 400;
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 18px;
        color: #017CC2;
    }
}
.membership-discount{
    border-top: 1px dotted #4d4d4d;
    padding-top: 20px;
}

.after-discount{
    border-bottom: 1px dotted #4d4d4d;
    padding-bottom: 20px;
}
.final-price, .payable{
    h2,h3{
        font-weight: 700;
    }
}
.payable{
    margin-bottom: 0;
}
.proceed-button{
    background-color: $dark-blue;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.apply-coupens-main{
    background-color: #fff;
    padding: 30px;
    font-size: 20px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        font-size: 20px;
        font-weight: 700;
        color: #303030;
    }
    h3{
        font-size: 20px;
        color: #303030;
    }
}
.apply-arrow-icon{
    color: #303030;
    font-size: 18px;
    border: 1px solid $light-black;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
}


.coupon-modal-main{
    position: fixed !important;
    right: 0 !important;
    left: auto;
    width: 450px;
    height: 100vh;
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}
.modal-inputs-coupon{
        padding: 10px;
        border: 0;
        border-radius: 0;
        height: 100vh;
        h2{
            font-size: 18px;
            color: $dark-blue;
            font-weight: 700;
            margin-bottom: 20px;
            text-align: center;
        }
        h3{
            color: #b3b3b3;
            text-align: center;
            font-size: 16px;
            margin-bottom: 20px;
        }
}
.modal-inputs-remove{
    position: relative;
}
.remove-text{
    color: red;
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.coupon-apply-button{
    background-color: $dark-blue;
    color: #fff;
    border-radius: 5px;
    border: 1px solid $dark-blue;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    padding: 10px 40px;
    transition: 0.5s;
    margin-left: 10px;
}
.entercode {
    display: flex;
    margin-bottom: 30px;
    input{
        border-radius: 5px;
        border: 1px solid #CECECE;
        background: #FFF;
        color: #0f540cfa;
        font-size: 18px;
        font-weight: 500;
        padding: 15px 15px;
        margin-right: 5px;
        width: 100%;
        @media screen and (max-width: 576px) {
            font-size: 16px;
        }
    }
}
.apply-coupon-box{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    box-shadow: 0px 0px 15px 9px #cecece4d;
    padding: 10px 18px;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    h2{
        font-size: 12px;
        color: #CECECE;
        margin-bottom: 10px;
    }
    h3{
        font-size: 15px;
        font-weight: 500;
        color: $dark-blue;
    }
    h4{
        font-size: 12px;
        color: #CECECE;
    }
    h5{
        font-size: 12px;
        color: $light-black;
        text-decoration: underline;
        cursor: pointer;
    }
}
.apply-coupon-button{
    h2{
        font-size: 14px;
        font-weight: 500;
        color: $dark-blue;
        text-decoration: underline;
        cursor: pointer;
    }
}
.coupon-modal-main .modal-dialog .modal-content{
    border-radius: 0;
    border: 0;
}
.modal.show .modal-dialog {
    padding: 0;
    margin: 0;
}
.cart-item-image{
    width: 316px;
    min-width: 316px;
    img{
        width: 100%;
    }
}